@model Stakeholder
@{
    Layout = null;
}

<div class="modal-header">
    <h5 class="modal-title">@ViewBag.ModalTitle</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <form method="POST" action="@Url.Action("ActiveOrDeactiveStakeholderPost", "Stakeholder")">
        @Html.AntiForgeryToken()
        <input type="hidden" name="id" value="@Model.Id" />
        <input type="hidden" name="isActive" value="@Model.IsActive" />
        
        <div class="text-center">
            <i class="fa fa-3x @(Model.IsActive ? "fa-ban text-warning" : "fa-check text-success") mb-3"></i>
            <p>آیا از @(Model.IsActive ? "غیرفعال کردن" : "فعال کردن") طرف حساب <strong>@Model.FirstName @Model.LastName</strong> مطمئن هستید؟</p>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-alt-secondary" data-bs-dismiss="modal">انصراف</button>
    <button type="button" class="btn @ViewBag.ButonClass" data-save="modal-ajax-save">تایید</button>
</div>