@model AppUsers
@{
    Layout = null;
}

<!-- Fade In Block Modal -->

<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content modal-contents">
        <div class="block block-rounded block-themed block-transparent mb-0">

            <div class="block-header @ViewBag.theme">
                <h3 class="block-title" style="color:white;">@ViewBag.ViewTitle</h3>
                <div class="block-options">
                    <button aria-label="Close" class="btn-block-option" data-bs-dismiss="modal" type="button">
                        <i class="fa fa-fw fa-times"></i>
                    </button>
                </div>
            </div>
            <form asp-controller="UserManager" asp-action="ActiveOrDeactiveUser" method="post">
                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="IsActive" />

                @if (Model.IsActive == true)
                {
                    <div class="block-content">
                        <div class="row push">
                            <span>آیا از غیرفعال سازی اکانت کاربر با نام <span style="font-weight:bold;">@Model.FirstName @Model.LastName</span> مطمئن هستین؟</span>
                        </div>
                    </div>

                    <div class="block-content block-content-full text-end bg-body">
                        <button class="btn btn-hero btn-secondary" data-bs-dismiss="modal" type="button">بازگشت</button>
                        <button class="btn btn-hero btn-danger" data-save="modal" type="button">تایید</button>
                    </div>
                }
                else
                {
                    <div class="block-content">
                        <div class="row push">
                            <span>آیا از فعال سازی اکانت کاربر با نام <span style="font-weight:bold;">@Model.FirstName @Model.LastName</span> مطمئن هستین؟</span>
                        </div>
                    </div>

                    <div class="block-content block-content-full text-end bg-body">
                        <button class="btn btn-hero btn-secondary" data-bs-dismiss="modal" type="button">بازگشت</button>
                        <button class="btn btn-hero btn-success" data-save="modal" type="button">تایید</button>
                    </div>
                }

            </form>
        </div>
    </div>
</div>

<!-- END Fade In Block Modal -->
