@model List<MahERP.DataModelLayer.ViewModels.ContactViewModels.ContactViewModel>

<select name="ContactId" 
        class="form-select form-select-lg select2-contact" 
        id="contactSelect">
    <option value="">-- انتخاب فرد --</option>
    @if (Model != null && Model.Any())
    {
        foreach (var contact in Model)
        {
            <option value="@contact.Id"
                    data-firstname="@contact.FirstName"
                    data-lastname="@contact.LastName"
                    data-nationalcode="@contact.NationalCode"
                    data-phone="@contact.PrimaryPhone">
                @contact.LastName @contact.FirstName
            </option>
        }
    }
</select>
